@charset "UTF-8";

///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


$black: #222;
$orange: #e6511e;
$blue: #2b5b9d;
$mediumBlue: #b1b6d7;
$lightBlue: #e6e8f2;
$grey: #535861;
$text-color: $grey;
$textlink-color: $grey;
$textlink-color-hover: $black;

/*doc

    ---
    title: Kleuren
    category: Kleuren - Kleuren
    ---

    |Variable Name | Hex Value | Swatch | Example |
    |------------------|---------|------|----|
    | white            | #ffffff | <div style="background: #ffffff; height: 30px; border: 1px solid $lightgrey"></div> | <div style="color: #ffffff"> Example </div> |
    | black            | #000000 | <div style="background: #000000; height: 30px"></div> | <div style="color: #000000"> Example </div> |

*/




// max-width
$max-layout-width: 1040px;
$base-font-family: 'Gentium Book Basic', serif;
$heading-font-family: 'arial', sans-serif;
$brand-color: $orange;
$brand-face: $base-font-family;
$brand-round: 2px;
$brand-face: $base-font-family;



h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}
