@charset "UTF-8";

@import "settings/fonts";
@import "settings/inuit.settings";

@import "components/slick";
@import "components/slick-theme";
@import "components/webelement/idtag";
@import "components/webelement/parallax";
@import "components/navigatie/offset-menu";
@import "components/layout/grid";
@import "components/tabs";
@import "components/grids/pillars";
@import "global/helpers";

body {

}

body {
    background: green;
}
