.hide-on-mobile {
    @media only screen and (max-width: 665px) { display: none; }
}

.only-mobile {
    @media only screen and (min-width: 666px) {
        display: none !important;
    }
}

.only-tablet-inline-block {
    display: none;
    @media only screen and (min-width: 666px) and (max-width: 1023px) {
        display: inline-block;
    }
}

.hide-on-desktop {
    @media only screen and (min-width: 994px) { display: none !important; }
}

.hide-on-desktoplarge {
    @media only screen and (min-width: 1160px) { display: none !important; }
}

.only-desktop {

    @media only screen and (max-width: 993px) {
        display:  none;
    }

}

.hide-below-desktop {
    @media only screen and (max-width: 1024px) {
        display: none;
    }
}

.only-desktoplarge {

    display: none;

    @media only screen and (min-width: 1160px) {
        display: inline-block;
    }
}

.center-block {
    margin: 0 auto;
}

.hide-on-tablet {
    @media only screen and (min-width: 666px) and (max-width: 1023px) { display: none; }
}

.hide-on-desktop {
    @media only screen and (max-width: 665px) { display: none; }
}


/* absolute positioning */

.abpos-lt {
    position: absolute !important;
    left: 0;
    top: 0;
}

.abpos-rt {
    position: absolute !important;
    right: 0;
    top: 0;
}

.abpos-lb {
    position: absolute !important;
    left: 0;
    bottom: 0;
}

.abpos-rb {
    position: absolute !important;
    right: 0;
    bottom: 0;
}


// centreer div met een max-width

.center-div {
    margin: 0 auto;
    position: relative;
    max-width: 980px;
}

// extra breakpoint voor desktoplarge

.textlink {
    color: $textlink_color;
    &:hover {
        color: $textlink_color_hover;
    }
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.center-img {

    padding: 10px !important; /* reset initial padding */

    > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 80%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.blocklink {
    display: block;
    color: $textlink_color;
    &:hover {
        color: $textlink_color_hover;
    }
}

/* positioneer inline images absolute */

.img-abs {

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;

    img {
        z-index: -1;
    }

}

.inline-block {
    display: inline-block;
}


/* plaats element "on top" binnen een relative of absolute context */

.on-top {
    position: relative;
    z-index: 1;
}


///*------------------------------------*\
//    #BREAKPOINT DEBUG HELPER
//\*------------------------------------*/

//body {
//
//   &:after {
//       content: 'mobile';
//       padding: 4px;
//       background: yellow;
//       color: grey;
//       position: absolute;
//       left: 0;
//       top: 0;
//       z-index: 99999999;
//   }
//
//   @media (min-width: 666px) {
//       &:after {
//           content: 'tablet';
//       }
//   }
//
//   @media (min-width: 994px) {
//       &:after {
//           content: 'desktop';
//       }
//   }
//
//   @media (min-width: 1140px) {
//       &:after {
//           content: 'desktoplarge';
//       }
//   }
//
//}

///*------------------------------------*\
//    #STYLEGUIDE STYLES
//\*------------------------------------*/

.styleguide-devider {
    margin: 24px 0;
    border-top: 1px solid red;
}

.bg-cover {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
