@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
    background: $color;
    background: linear-gradient(center bottom,
            $start 0%,
            $stop 100%);
}

@mixin bw-gradient($color: #F5F5F5, $start: 0, $stop: 255) {
    background: $color;
    background: linear-gradient(center bottom,
            rgb($start,$start,$start) 0%,
            rgb($stop,$stop,$stop) 100%);
}

@mixin bordered($top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE) {
    border-top: solid 1px $top-color;
    border-left: solid 1px $left-color;
    border-right: solid 1px $right-color;
    border-bottom: solid 1px $bottom-color;
}

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
    box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin text-shadow( $x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.3 ) {
    text-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
}



@mixin transform-origin ($origin_x:50%, $origin_y:50%) {
    -ms-transform-origin: $origin_x $origin_y;
    -webkit-transform-origin: $origin_x $origin_y;
    transform-origin: $origin_x $origin_y;
}

@mixin scale($ratio_x:1, $ratio_y:1) {
    -webkit-transform:scale($ratio_x, $ratio_y);
    -moz-transform:scale($ratio_x, $ratio_y);
    transform:scale($ratio_x, $ratio_y);
}

@mixin transition($duration:0.3s, $ease:ease-out) {
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -ms-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}

@mixin inner-shadow($horizontal:0, $vertical:1px, $blur:2px, $alpha: 0.4) {
    -webkit-box-shadow: inset $horizontal $vertical $blur $alpha;
    -moz-box-shadow: inset $horizontal $vertical $blur $alpha;
    box-shadow: inset $horizontal $vertical $blur $alpha;
}

@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: #EEE, $columnRuleStyle: solid, $columnRuleWidth: 1px) {
    -moz-column-width: $colwidth;
    -moz-column-count: $colcount;
    -moz-column-gap: $colgap;
    -moz-column-rule-color: $columnRuleColor;
    -moz-column-rule-style: $columnRuleStyle;
    -moz-column-rule-width: $columnRuleWidth;
    -webkit-column-width: $colwidth;
    -webkit-column-count: $colcount;
    -webkit-column-gap: $colgap;
    -webkit-column-rule-color: $columnRuleColor;
    -webkit-column-rule-style: $columnRuleStyle;
    -webkit-column-rule-width: $columnRuleWidth;
    column-width: $colwidth;
    column-count: $colcount;
    column-gap: $colgap;
    column-rule-color: $columnRuleColor;
    column-rule-style: $columnRuleStyle;
    column-rule-width: $columnRuleWidth;
}

@mixin translate($x:0, $y:0) {
    -moz-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin translate3d($x:0, $y:0, $z:0) {
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

@mixin seam( $colorOne: grey, $colorTwo: white, $position: bottom ) {

    position: relative;

    @if $position ==  bottom  {
        border-bottom: 1px solid $colorOne;
        &:after {
            width: 100%;
            bottom: -2px;
            height: 1px;
            left: 0;
        }
    }

    @if $position ==  top  {
        border-top: 1px solid $colorOne;
        &:after {
            width: 100%;
            top: -2px;
            height: 1px;
            left: 0;
        }
    }

    @if $position ==  left  {
        border-left: 1px solid $colorOne;
        &:after {
            width: 1px;
            left: -2px;
            height: 100%;
            top: 0;
        }
    }

    @if $position ==  right  {
        border-right: 1px solid $colorOne;
        &:after {
            width: 1px;
            right: -2px;
            height: 100%;
            top: 0;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: $colorTwo;
    }
}

@mixin matrix($cols) {

    padding: 0;
    margin: 0;
    margin-left: -4%;
    display: block;

    li
    {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: block;
    }

    @if $cols == 2
    {
        margin-left: -4%;
        li
        {
            width: 46%;
            margin-left: 4%;
            margin-bottom: 4%;
        }
        li:nth-child(2n+1)
        {
            clear: both;
        }
    }

    @if $cols == 3
    {
        margin-left: -3.333333%;
        li
        {
            width: 30%;
            margin-left: 3.333333%;
            margin-bottom: 3%;
        }
        li:nth-child(2n+1)
        {
            clear: none;
        }
        li:nth-child(3n+1)
        {
            clear: both;
        }
    }

    @if $cols == 4
    {
        margin-left: -2%;
        li
        {
            width: 23%;
            margin-left: 2%;
            margin-bottom: 2%;
        }
        li:nth-child(3n+1)
        {
            clear: none;
        }
        li:nth-child(4n+1)
        {
            clear: both;
        }
    }
}


@mixin matrix-no-padding($cols) {

    padding: 0;
    margin: 0;
    margin-left: -4%;
    display: block;

    li
    {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: block;
    }

    @if $cols == 2
    {
        padding-left: -4%;
        li
        {
            width: 46%;
            padding-left: 4%;
            padding-bottom: 4%;
        }
        li:nth-child(2n+1)
        {
            clear: both;
        }
    }

    @if $cols == 3
    {
        padding-left: -3.333333%;
        li
        {
            width: 30%;
            padding-left: 3.333333%;
            padding-bottom: 3%;
        }
        li:nth-child(2n+1)
        {
            clear: none;
        }
        li:nth-child(3n+1)
        {
            clear: both;
        }
    }

    @if $cols == 4
    {
        padding-left: -2%;
        li
        {
            width: 23%;
            padding-left: 2%;
            padding-bottom: 2%;
        }
        li:nth-child(3n+1)
        {
            clear: none;
        }
        li:nth-child(4n+1)
        {
            clear: both;
        }
    }
}

@mixin box-flow($columns:3, $gutter:2%) {

    display: block;
    @include clearfix;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;

    .box {
        display: block;
        float: left;
        width: 100%-$gutter;
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;
        box-sizing: border-box;
        margin-bottom: $gutter;
    }

    @if $columns == 2 {

        .box {
            width: 100/2-$gutter;
            margin-left: $gutter / 2;
            margin-right: $gutter / 2;
            margin-bottom: $gutter;

            &.box--double {
                width: 100%-$gutter;
            }
        }

    }

    @if $columns == 3 {

        .box {
            width: 100/3-$gutter;
            margin-left: $gutter / 2;
            margin-right: $gutter / 2;
            margin-bottom: $gutter ! important;

            &.box--double {
                &.box--double {
                    width: 100/1.5-$gutter;
                }

            }

        }

    }

}


@mixin columns($cols) {

    padding: 0;
    margin: 0;
    margin-left: -4%;
    display: block;
    list-style: none;

    article
    {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 7px;
        overflow: hidden;
        display: block;
    }

    @if $cols == 2
    {
        margin-left: -4%;
        article
        {
            width: 46%;
            margin-left: 4%;
            margin-top: 2%;
        }
        article:nth-child(2n+1)
        {
            clear: both;
        }
    }

    @if $cols == 3
    {
        margin-left: -3.333333%;
        article
        {
            width: 30%;
            margin-left: 3.333333%;
            margin-top: 2%;
        }
        article:nth-child(2n+1)
        {
            clear: none;
        }
        article:nth-child(3n+1)
        {
            clear: both;
        }
    }

    @if $cols == 4
    {
        margin-left: -2%;
        article
        {
            width: 23%;
            margin-left: 2%;
            margin-top: 2%;
        }
        article:nth-child(2n+1)
        {
            clear: none;
        }
        article:nth-child(3n+1)
        {
            clear: none;
        }
        article:nth-child(4n+1)
        {
            clear: both;
        }
    }
}

@mixin background-image-retina($file, $type, $width, $height) {

    background-image: url($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {

        & {
            background-image: url($file + '@2x.' + $type);
            -webkit-background-size: $width $height;
            -moz-background-size:  $width $height;
            -o-background-size:  $width $height;
            background-size:  $width $height;
        }

    }

}

@mixin background-size($width, $height) {
    -webkit-background-size: $width $height;
    -moz-background-size:  $width $height;
    -o-background-size:  $width $height;
    background-size:  $width $height;
}

@mixin css-arrow($arrow-position, $arrow-color, $arrow-size) {
    &:after {
        position: absolute;
        border: solid transparent;
        content: " ";
        top: auto;
        left: auto;
        height: 0;
        width: 0;
        margin: 0;
        border-color: transparent;
        border-width: $arrow-size;
        pointer-events: none;
    }
    @if $arrow-position == "top" {
        &:after {
            bottom: 100%;
            border-bottom-color: $arrow-color;
            margin-left: (-$arrow-size);
            left: 75%;
        }
    }
    @if $arrow-position == "right" {
        &:after {
            left: 100%;
            border-left-color: $arrow-color;
            margin-top: (-$arrow-size);
            top: 50%;
        }
    }
    @if $arrow-position == "bottom" {
        &:after {
            top: 100%;
            border-top-color: $arrow-color;
            margin-left: (-$arrow-size);
            left: 75%;
        }
    }
    @if $arrow-position == "left" {
        &:after {
            right: 100%;
            border-right-color: $arrow-color;
            margin-top: (-$arrow-size);
            top: 50%;
        }
    }
}



/* swap text for image */

@mixin swapImage($image, $width:100px, $height: 100px, $pos_x:0, $pos_y:0 , $scale:1) {

    display: block;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-image: url($image);
    background-position: $pos_x $pos_y;
    @include scale($scale);

    span {
        display: none;
    }
}


/* props mixin */

@mixin prop($x-pos:center, $y-pos:0) {

    display: inline-block;
    position: relative;

    @if($x-pos == "center" ) {
        margin: 0 auto;
    }

}


/* create rotated box divider */

@mixin box-rotate($deg:-2deg) {

    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        @include rotation($deg, center, center);
        left: -12.5%;
        width: 125%;
        height: 75%;
        z-index: -1;
        background: inherit;
        box-shadow: 0 0 1px inherit !important;
    }

    &:before {
        top: 0;
        margin-top: -5%;
    }

    &:after {
        bottom: 0;
        margin-bottom: -5%;
    }
}


@mixin minimal-form($color: white, $bgColor:black) {

    input {
        z-index: 10;
        @extend .p-;
        outline: 0;
        color: $color;
    }

    input + label::before {
        content: attr(data-label);
        display: block;
        float: left;
        padding: 0 6px;
        background: $bgColor;
        @include translate(6px, -30px);
        @include transition(.3s, ease-in-out);
        color: $color;
        position: absolute;
        white-space: nowrap;
    }

    input:focus + label::before,
    input:valid + label::before {
        @include translate(6px, -50px);
        font-size: 95%;
    }

    input:focus,
    input:valid {
        z-index: 0;
    }

}
