// <div class="center-page">
// <a href="#" id="idTag"><h1><span class="hide">Ingrid Sinke - VVE beheer</span></h1></a>
// </div>


#idTag {
    background: url(../img/image.png) no-repeat center center;
    background-size: 180px 58px;
    width: 180px;
    height: 58px;
    z-index: 20;
    @include media-query(lap-and-up) {
        background-size: 270px 88px;
        width: 270px;
        height: 88px;
        right: auto;
        margin: 0;
    }
    @include media-query(desk) {
        background-size: 313px 102px;
        width: 305px;
        height: 102px;
    }
}
