/*doc
---
title: parallax
category: layout components - layout components
---

```html_example

    <section data-type="background" data-speed="1" class="parallax  image1">
        <h1>I am absolute positioned</h1>
    </section>

    <section data-type="background" data-speed="10" class="parallax  image2">
        <h1>Simple Parallax Scroll</h1>
    </section>

```

```js_example

    $(document).ready(function(){
        $window = $(window);

        $('section[data-type="background"]').each(function(){
            var $bgobj = $(this); // assigning the object

            $(window).scroll(function() {

                // Scroll the background at var speed
                // the yPos is a negative value because we're scrolling it UP!
                var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                // Put together our final background position
                var coords = '50% '+ yPos + 'px';

                // Move the background
                $bgobj.css({ backgroundPosition: coords });

            }); // window scroll Ends

        });

    });

```

Create block grids width equal heights. Compatible from

*/

.parallax {
    min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.image1 {
    background:   url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/images/only_background_2.jpg) 50% 0 no-repeat;
}

.image2 {
    background:   url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/images/only_background_2.jpg) 50% 0 no-repeat;
}


