//<nav class="main-link">
//
//<div class="id-tag"><a href="#">RTLZ - Economie nieuws</a></div>
//
//<ul class="menu">
//<li><a href="#">Business</a>
//<li><a href="#">Finance</a>
//<li><a href="#">Tech</a>
//<li><a href="#">Life</a>
//<li><a href="#">Alle secties</a>
//
//<div class="sections">
//
//<ul>
//<li><a href="#">Business</a></li>
//<li><a href="#">Finance</a></li>
//<li><a href="#">Tech</a></li>
//<li><a href="#">Life</a></li>
//<li><a href="#">Finance</a></li>
//<li><a href="#">Tech</a></li>
//<li><a href="#">Lifestyle</a></li>
//<li><a href="#">Opinie</a></li>
//</ul>
//
//<h3>Net binnen</h3>
//<ul>
//<li>
//<img src="http://placehold.it/280x120" alt="image" />
//<h3>Twee Britten dood na gebruik witte heroine</h3>
//</li>
//<li>
//<img src="http://placehold.it/280x120" alt="image" />
//<h3>Politie Hongkong weer slaags met demonstranten</h3>
//</li>
//<li>
//<img src="http://placehold.it/280x120" alt="image" />
//<h3>Taakstraf voor mishandeling zwarte piet</h3>
//</li>
//</ul>
//</div>
//</li>
//<li><a href="#">ZTV <span class="tag">NU LIVE</span></a></li>
//<li><a href="#">Academy</a></li>
//<li class="login"><a href="#">Inloggen</a></li>
//<li class="search"><a href="#" class="icon-search">search</a>
//<div class=""><input type="text" /></div>
//</li>
//</ul>
//
//</nav>

.main-nav {

    width: 100%;
    background: grey;
    color: #fff;

    .id-tag {

        float: left;
        width: 180px;
        height: 80px;
        border: 1px solid white;
    }

    .menu {
        li {
            float: left;

            a {
                float: left;
                display: block;
            }
        }
    }

    //<li><a href="#">ZTV <span class="tag">NU LIVE</span></a></li>
    //    //<li><a href="#">Academy</a></li>
    //    //<li class="login"><a href="#">Inloggen</a></li>
    //    //<li class="search"><a href="#" class="icon-search">search</a>
    //    //<div class=""><input type="text" /></div>
    //    //</li>
    //    //</ul>

}


