/*doc
---
title: hoofdnavigatie
category: Navigatie - Navigatie
---


```html_example

<nav class="main-nav  [ pushy  pushy-left  pushy--skin ]">

    <div class="menu-btn  close-nav"><span>Close</span></div>

    <ul class="menu">

        <li class="menu--l1"><a href="#">Business</a>
        <li class="menu--l1"><a href="#">Finance</a>
        <li class="menu--l1"><a href="#">Tech</a>
        <li class="menu--l1"><a href="#">Life</a>
        <li class="menu--l1  menu--l1-sub  menu--l1-tablet">

            <a href="#">Alle secties<span></span></a>

            <div class="menu--flyout">

                <div class="layout">

                    <div class="layout__item  tablet-3/12  desktop-3/12">

                        <div class="box  box--large">

                            <ul>
                                <li class="menu--l2"><a href="#">Business</a></li>
                                <li class="menu--l2"><a href="#">Finance</a></li>
                                <li class="menu--l2"><a href="#">Tech</a></li>
                                <li class="menu--l2"><a href="#">Life</a></li>
                                <li class="menu--l2"><a href="#">Finance</a></li>
                                <li class="menu--l2"><a href="#">Tech</a></li>
                                <li class="menu--l2"><a href="#">Lifestyle</a></li>
                                <li class="menu--l2"><a href="#">Opinie</a></li>
                            </ul>

                        </div>

                    </div

                    ><div class="layout__item  tablet-9/12  desktop-9/12">

                        <div class="box  box--large">

                            <h3>Net binnen</h3>

                            <ul class="latest-articles">

                                <li class="box">
                                    <img src="http://myplacehold.it/280x120" alt="image" />
                                    <h3>Twee Britten dplaceood na gebruik witte heroine</h3>
                                </li>
                                <li class="box">
                                    <img src="http://myplacehold.it/280x120" alt="image" />
                                    <h3>Politie Hongkong weer slaags met demonstranten</h3>
                                </li>
                                <li class="box">
                                    <img src="http://myplacehold.it/280x120" alt="image" />
                                    <h3>Taakstraf voor mishandeling zwarte piet</h3>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </li>
        <li class="menu--l1"><a href="#">ZTV <span class="tag-live">NU LIVE</span></a></li>
        <li class="menu--l1"><a href="#">Academy</a></li>
        <li class="menu--l1 login"><a href="#">Inloggen</a></li>

    </ul>

</nav>

```

*/


//.search {
//
//    width: 60px;
//    height: 60px;
//    float: right;
//    background: $turquoise;
//
//    a {
//        display: block;
//        width: 100%;
//        height: 100%;
//        position: relative;
//        background: url("../img/icon-search-white.svg") no-repeat center center;
//        @include background-size(22px,22px);
//
//        span {
//            display: none;
//        }
//
//    }
//
//    @media only screen and (min-width: 665px) {
//        background: none;
//        position: absolute;
//        right: 0;
//        top: 0;
//    }
//
//}



// AEX blokje bovenin navigatie balk
.aex {

    background: url(../img/aex-arrow.svg) no-repeat right top;
    @include background-size(14px,14px);
    background-position: 53px 13px;
    height: 60px;
    width: 80px;
    position: relative;
    float: right;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    padding: 12px;

    span {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }
}

.mainnav__container {

    @media only screen and (min-width: 665px) {
        height: 30px;
        background: $taupelight;
        @include transition-duration(0);
        @include translate(0,0);
        display: none;
    }
}


.menu--flyout {

    background: $taupelight;
    position: absolute;
    left: 0;
    right: 0;
    display: none;

    // verberg laatste item op mobiel
    @media only screen and (max-width: 993px) {

        .layout__item:nth-child(4) {
            display: none;
        }
    }

}

// mobile menu hamburger met transitie naar sluiten kruisje

.menu-btn {

    height: 60px;
    width: 60px;
    float: right;
    border-left: 1px solid $darkgrey;
    position: relative;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    span {
        font-size: 0;
        width: 20px;
        position: absolute;
        left: 20px;
        top: 29px;
        height: 3px;
        background: white;
        display: block;
        z-index: 10;
        -moz-transition: rotate 0.3s ease-in-out;
        -webkit-transition: rotate 0.3s ease-in-out;
        transition: rotate 0.3s ease-in-out;
        @include rounded(2px);

        &:before,
        &:after {
            content: '';
            position: relative;
            @include rounded(2px);
            top: -7px;
            height: 3px;
            width: 20px;
            background: #fff;
            display: block;
            -moz-transition: rotate 0.3s ease-in-out;
            -webkit-transition: rotate 0.3s ease-in-out;
            transition: rotate 0.3s ease-in-out;
        }

        &:after {
            top: 4px;
        }

        .pushy-active & {

            background: transparent;

            &:before {
                top: 0;
                -webkit-transition-delay: .3s;
                transition-delay: .3s;
                @include rotation(45deg,center,center);
            }
            &:after {
                top: -3px;
                -webkit-transition-delay: .3s;
                transition-delay: .3s;
                @include rotation(-45deg,center,center);
            }
        }

    }

    &:hover {
        cursor: pointer;
    }

}

html.pushy-active {

    overflow: hidden;

    body {

        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .main-nav {
            position: absolute;
            left: 0;
            top: 60px;
            bottom: 0;
            height: initial;
            width: initial;
            overflow: scroll;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            &::-webkit-scrollbar { width: 0 !important }
        }

    }
}

.tablet-p\+\+\+ {
    @media only screen and (min-width: 666px) {
        padding-top: 100px !important;
    }
}

.pushy--skin {

    position: absolute;

    @media only screen and (min-width: 666px) {
        height: 60px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 20;
    }

}


    .mainnav__l1 {

        z-index: 2;
        width: 100%;

        > li {
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 26px;

            > a {

                display: block;
                position: relative;
                border-left: 1px solid $grey;

                &:hover {
                    background: darken($grey, 5%);
                    border-left: 1px solid $darkgrey;
                }
            }

            &.current,
            &.open {
                > a {
                    background: darken($grey, 5%);
                    border-left: 1px solid $darkgrey;
                }
            }

            @media only screen and (max-width: 665px){

                border-bottom: 1px solid $darkgrey;

                > a {
                    padding: 18px 20px 16px 20px;
                }

            }

            @media only screen and (min-width: 666px) {

                font-size: 16px;
                line-height: 19px;
                float: left;
                border-left: 1px solid $darkgrey;

                > a {
                    padding: 24px 10px 16px 10px;
                    min-width: 100px;
                    text-align: center;
                }

            }

            @media only screen and (min-width: 994px) {

                > a {
                    padding: 24px 20px 17px 20px;
                }
            }

        }

        .pushy-open & {
            position: relative;
        }

        @media only screen and (min-width: 666px) {

            max-width: 1024px;
            margin: 0 auto;

            > li:first-child {
                border-left: 0;
                margin-left: 104px;
            }

            // float laatste element 'nieuws' naar rechts
            > li:last-child {
                float: right;
                margin-right: 0;
            }

        }

        @media only screen and (min-width: 994px) {
            //extra marge tussen logo + eerste menu item
            > li:first-child {
                margin-left: 166px;
            }

            > li:last-child {
                margin-right: 120px;
            }
        }

    }


    @media only screen and (min-width: 666px) {

        .has-childs:hover {

            .mainnav__l2 {
                display: block;
            }

            .mainnav__container {
                @include transition-duration(0);
                @include translate(0, 0);
                display: block;
                z-index: 999;
                position: relative;
            }

        }

        li.current {

            .mainnav__l2 {
                display: block;
            }

            .mainnav__container {
                @include transition-duration(0);
                @include translate(0, 0);
                display: block;
            }

        }

    }

    // hide level 2 initieel
    .mainnav__l2 {

        // toon level 2 met class .open op mobiel
        .open & {
            display: block;
        }

        // hover kleur level 2 alleen op mobiel
        @media only screen and (max-width: 665px) {

            display: block;

            li {

                a {

                    &:hover {
                        background: darken($darkgrey, 10%);
                    }
                }

            }

        }

    }

    // '+' icons op eerste level menuitems op mobiel
    .has-childs {

        @media only screen and (max-width: 665px) {

            position: relative;

            a:after {
                content: "";
                background: transparent url(../img/icons/icon-plus.svg) no-repeat center center;
                @include background-size(100%,100%);
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 18px;
                top: 18px;
            }

            &.open a:after {
                background: transparent url(../img/icons/icon-min.svg) no-repeat center center;
            }

        }

    }

    // '>' icons op eerste level menuitems op mobiel
    .has-link {

        @media only screen and (max-width: 665px) {

            position: relative;

             a:after {
                content: "";
                background: transparent url(../img/icons/icon-arrowright.svg) no-repeat center center;
                @include background-size(100%, 100%);
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 18px;
                top: 18px;

            }

        }

    }

    .mainnav__l2 {

        background: $darkgrey;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        @include transition-duration(.3s);
        @include translate(0, 0);
        display: none;

        > li {

            a {
                overflow: hidden;
            }
        }

        > div ul li a {
            padding: 18px 20px 16px 20px;
        }

        @media only screen and (min-width: 666px) {

            height: 30px;
            position: absolute;
            width: 100%;
            left: 0;
            top: 60px;
            text-transform: none;
            font-size: 14px;
            line-height: 17px;
            overflow: hidden;
            // display: block;
            background: transparent;

            > div ul li {

                height: 38px;
                float: left;
                @include transition-duration(0.2);
                -webkit-transition-property: opacity;
                transition-property: opacity;

                a {
                    color: $taupehover;
                    padding: 8px 0 5px 20px;

                    &:hover,
                    &.active {
                        color: $darkgrey;
                        text-decoration: underline;
                    }
                }

            }

        }

        &.hide {

            .mainnav__container {
                @include translate(0, -30px);
                @include transition-duration(.3s);
            }

        }

    }

    .show-flyout {

        @media only screen and (min-width: 666px) {
            display: block;
            position: absolute;
            top: 90px;
        }

    }

    .mainnav__l3 {

        a {

            color: $dollar;
            line-height: 36px;

            &:hover {
                color: $dollarhover;
                text-decoration: underline;
            }
        }

    }

  .latest-articles {

    width: 100%;

    @include box-flow(2,6%);

    .box:nth-child(3) { display: none; }

    @media only screen and (min-width: 1004px) {
        @include box-flow(3,4%);

        .box:nth-child(3) { display: block; }
    }

}
