/*doc
---
title: tabs
category: gui elements

---

Eenvoudig component met tabs
@import "components/tabs";

```html_example

    <ul class="tabs-menu">
        <li class="current"><a href="#tab1">Nieuwbouw</a></li>
        <li><a href="#tab2">Herbouw</a></li>
        <li><a href="#tab3">Renovatie</a></li>
    </ul>

    <div class="tabs">

        <div id="tab1" class="tab-content">
            content tab 1
        </div>

        <div id="tab2" class="tab-content">
            content tab 2
        </div>

        <div id="tab3" class="tab-content">
            content tab 3
        </div>

    </div>

```

```js_example

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });

```

*/

.tabs-menu {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > li {
        position: relative;
        display: inline-block;
        border-radius: 4px;
        margin: 0 8px;
        border: 1px solid #fff;
        top: 4px;

        &.current {
            border: 1px solid lightgrey;
            background: lightgrey;
            a {
                color: black;
            }
        }

        &:hover {
            border: 1px solid lightgrey;
        }

    }

    > li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        color: black;
        padding: $inuit-base-spacing-unit/2 $inuit-base-spacing-unit;
        display: block;
    }

}

.tab-content {
    padding: $inuit-base-spacing-unit;
    background: lightgrey;
    @extend .box;
    display: none;

    &:first-child {
        display: block;
    }
}
