@charset "UTF-8";
/* latin-ext */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local("Gentium Book Basic"), local("GentiumBookBasic"), url(http://fonts.gstatic.com/s/gentiumbookbasic/v6/IRFxB2matTxrjZt6a3FUnszm0DvNGU8YAOZV-OC8gkD3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF; }

/* latin */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local("Gentium Book Basic"), local("GentiumBookBasic"), url(http://fonts.gstatic.com/s/gentiumbookbasic/v6/IRFxB2matTxrjZt6a3FUnjHxYFfSxJ-QC83SOBxk38Y.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* latin-ext */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  src: local("Gentium Book Basic Bold"), local("GentiumBookBasic-Bold"), url(http://fonts.gstatic.com/s/gentiumbookbasic/v6/T2vUYmWzlqUtgLYdlemGnUYwQaCV_6HbQ_AX11UCu1-Axg1Bnw5F8n5M1Q3pc3xZ.woff2) format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF; }

/* latin */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  src: local("Gentium Book Basic Bold"), local("GentiumBookBasic-Bold"), url(http://fonts.gstatic.com/s/gentiumbookbasic/v6/T2vUYmWzlqUtgLYdlemGnV7BxqaxiHjt2ue4T9OK6I6glnMp3_3A8V8Ai8YosRtX.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/*doc

    ---
    title: Kleuren
    category: Kleuren - Kleuren
    ---

    |Variable Name | Hex Value | Swatch | Example |
    |------------------|---------|------|----|
    | white            | #ffffff | <div style="background: #ffffff; height: 30px; border: 1px solid $lightgrey"></div> | <div style="color: #ffffff"> Example </div> |
    | black            | #000000 | <div style="background: #000000; height: 30px"></div> | <div style="color: #000000"> Example </div> |

*/
h1, h2, h3, h4, h5, h6 {
  font-family: "arial", sans-serif; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6.
 */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143; }

/*------------------------------------*    #PARAGRAPHS
\*------------------------------------*/
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 */
.lede {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333; }

/*------------------------------------*    #LISTS
\*------------------------------------*/
/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img, img[width], img[height] {
  /* [2] */
  max-width: none; }

/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #4A4A4A;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

/*------------------------------------*    #BLOCK
\*------------------------------------*/
/**
 * The block object simply stacks an image on top of some text-like content.
 */
/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */
.block {
  display: block; }

/**
     * 1. Eliminate whitespace around images.
     */
.block__img {
  vertical-align: middle;
  /* [1] */
  margin-bottom: 24px; }

/**
     * Text-content.
     */
.block__body {
  display: block; }

/*------------------------------------*    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box,
.tab-content {
  display: block;
  /* [1] */
  padding: 24px; }
  .box > :last-child,
  .tab-content > :last-child {
    margin-bottom: 0; }

/**
     * Flush (i.e. no padding) box.
     */
.box--flush {
  padding: 0; }

/**
     * Small box.
     */
.box--small {
  padding: 12px; }

/**
     * Large box.
     */
.box--large {
  padding: 48px; }

/*------------------------------------*    #BUTTONS
\*------------------------------------*/
/**
 * A simple button object.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  overflow: visible;
  /* [6] */
  padding: 12px 24px;
  /* [7] */
  background-color: #4a8ec2;
  border: none;
  /* [4] */ }
  .btn,
  .btn:hover,
  .btn:active,
  .btn:focus {
    text-decoration: none;
    /* [4] */
    color: #fff; }

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*------------------------------------*    #FLAG
\*------------------------------------*/
/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image. csswizardry.com/2013/05/the-flag-object
 */
/**
 * 1. Allows us to control vertical alignments
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.flag {
  display: table;
  /* [1] */
  width: 100%;
  /* [2] */ }

/**
     * Items within a flag object. There should only ever be one of each.
     *
     * 1. Default to aligning content to their middles.
     */
.flag__img,
.flag__body {
  display: table-cell;
  vertical-align: middle;
  /* [1] */ }

/**
     * Flag images have a space between them and the body of the object.
     */
.flag__img {
  padding-right: 24px; }
  .flag__img > img {
    display: block;
    max-width: none; }

/**
     * The container for the main content of the flag object.
     *
     * 1. Forces the `.flag__body` to take up all remaining space.
     */
.flag__body {
  width: 100%;
  /* [1] */ }
  .flag__body,
  .flag__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * The inuitcss layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */
/**
 * Begin a layout group.
 */
.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px; }

/**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     * 5. Required to combine fluid widths and fixed gutters.
     */
.layout__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */ }

/*------------------------------------*    #LIST-BARE
\*------------------------------------*/
/**
 * The list-bare object simply removes any indents and bullet points from lists.
 */
.list-bare {
  margin: 0;
  padding: 0;
  list-style: none; }

/*------------------------------------*    #LIST-BLOCK
\*------------------------------------*/
/**
 * The list-block object creates blocky list items out of a `ul` or `ol`.
 */
.list-block {
  margin: 0;
  padding: 0;
  list-style: none; }

.list-block__item,
.list-block > li {
  padding: 24px; }

/*------------------------------------*    #LIST-INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

/*------------------------------------*    #LIST-UI
\*------------------------------------*/
/**
 * The UI list object creates blocky list items with a keyline separator out of
 * a `ul` or `ol`.
 */
.list-ui,
.list-ui__item,
.list-ui > li {
  border: 0 solid #ccc; }

.list-ui {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top-width: 1px; }

.list-ui__item,
.list-ui > li {
  padding: 24px;
  border-bottom-width: 1px; }

/*------------------------------------*    #MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 24px; }
  .media__img > img {
    display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body,
  .media__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #PACK
\*------------------------------------*/
/**
 * The pack object simply causes any number of elements pack up horizontally to
 * automatically fill an equal, fluid width of their parent.
 */
/**
 * 1. Fill all available space.
 * 2. Cause children to be automatically equally sized.
 */
.pack {
  width: 100%;
  /* [1] */
  display: table;
  table-layout: fixed;
  /* [2] */ }

/**
     * Cause children to adopt table-like structure.
     */
.pack__item {
  display: table-cell; }

/*------------------------------------*    #TABLES
\*------------------------------------*/
.table {
  width: 100%; }

/*------------------------------------*    #TABS
\*------------------------------------*/
/**
 * A simple abstraction for making equal-width navigation tabs.
 */
/**
 * 1. Reset any residual styles (most likely from lists).
 * 2. Tables for layout!
 * 3. Force all `table-cell` children to have equal widths.
 * 4. Force the object to be the full width of its parent. Combined with [2],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.tabs {
  margin: 0;
  /* [1] */
  padding: 0;
  /* [1] */
  list-style: none;
  /* [1] */
  display: table;
  /* [2] */
  table-layout: fixed;
  /* [3] */
  width: 100%;
  /* [4] */
  text-align: center; }

.tabs__item {
  display: table-cell;
  /* [2] */ }

.tabs__link {
  display: block; }

/*------------------------------------*    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after,
.box:after,
.tab-content:after, .media:after {
  content: "";
  display: table;
  clear: both; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6’s corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333; }

.beta {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

.epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143; }

/*------------------------------------*    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Margin helper classes.
     *
     * Add margins.
     */
.m {
  margin: 24px !important; }

.mt {
  margin-top: 24px !important; }

.mr {
  margin-right: 24px !important; }

.mb {
  margin-bottom: 24px !important; }

.ml {
  margin-left: 24px !important; }

.mh {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.mv {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

/**
     * Add small margins.
     */
.m- {
  margin: 12px !important; }

.mt- {
  margin-top: 12px !important; }

.mr- {
  margin-right: 12px !important; }

.mb- {
  margin-bottom: 12px !important; }

.ml- {
  margin-left: 12px !important; }

.mh- {
  margin-right: 12px !important;
  margin-left: 12px !important; }

.mv- {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

/**
     * Add large margins.
     */
.m\+ {
  margin: 48px !important; }

.mt\+ {
  margin-top: 48px !important; }

.mr\+ {
  margin-right: 48px !important; }

.mb\+ {
  margin-bottom: 48px !important; }

.ml\+ {
  margin-left: 48px !important; }

.mh\+ {
  margin-right: 48px !important;
  margin-left: 48px !important; }

.mv\+ {
  margin-top: 48px !important;
  margin-bottom: 48px !important; }

/**
     * Add huge margins.
     */
.m\+\+ {
  margin: 96px !important; }

.mt\+\+ {
  margin-top: 96px !important; }

.mr\+\+ {
  margin-right: 96px !important; }

.mb\+\+ {
  margin-bottom: 96px !important; }

.ml\+\+ {
  margin-left: 96px !important; }

.mh\+\+ {
  margin-right: 96px !important;
  margin-left: 96px !important; }

.mv\+\+ {
  margin-top: 96px !important;
  margin-bottom: 96px !important; }

/**
     * Remove margins.
     */
.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

/**
     * Padding helper classes.
     *
     * Add paddings.
     */
.p {
  padding: 24px !important; }

.pt {
  padding-top: 24px !important; }

.pr {
  padding-right: 24px !important; }

.pb {
  padding-bottom: 24px !important; }

.pl {
  padding-left: 24px !important; }

.ph {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.pv {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

/**
     * Add large paddings.
     */
.p\+ {
  padding: 48px !important; }

.pt\+ {
  padding-top: 48px !important; }

.pr\+ {
  padding-right: 48px !important; }

.pb\+ {
  padding-bottom: 48px !important; }

.pl\+ {
  padding-left: 48px !important; }

.ph\+ {
  padding-right: 48px !important;
  padding-left: 48px !important; }

.pv\+ {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

/**
     * Remove paddings.
     */
.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*------------------------------------*    #SPACING-RESPONSIVE
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Padding helper classes.
     *
     * Add paddings.
     */
@media screen and (max-width: 44.9375em) {
  .palm-p {
    padding: 24px !important; }
  .palm-pt {
    padding-top: 24px !important; }
  .palm-pr {
    padding-right: 24px !important; }
  .palm-pb {
    padding-bottom: 24px !important; }
  .palm-pl {
    padding-left: 24px !important; }
  .palm-ph {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .palm-pv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .lap-p {
    padding: 24px !important; }
  .lap-pt {
    padding-top: 24px !important; }
  .lap-pr {
    padding-right: 24px !important; }
  .lap-pb {
    padding-bottom: 24px !important; }
  .lap-pl {
    padding-left: 24px !important; }
  .lap-ph {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .lap-pv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; } }

@media screen and (min-width: 45em) {
  .lap-and-up-p {
    padding: 24px !important; }
  .lap-and-up-pt {
    padding-top: 24px !important; }
  .lap-and-up-pr {
    padding-right: 24px !important; }
  .lap-and-up-pb {
    padding-bottom: 24px !important; }
  .lap-and-up-pl {
    padding-left: 24px !important; }
  .lap-and-up-ph {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .lap-and-up-pv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; } }

@media screen and (max-width: 63.9375em) {
  .portable-p {
    padding: 24px !important; }
  .portable-pt {
    padding-top: 24px !important; }
  .portable-pr {
    padding-right: 24px !important; }
  .portable-pb {
    padding-bottom: 24px !important; }
  .portable-pl {
    padding-left: 24px !important; }
  .portable-ph {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .portable-pv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; } }

@media screen and (min-width: 64em) {
  .desk-p {
    padding: 24px !important; }
  .desk-pt {
    padding-top: 24px !important; }
  .desk-pr {
    padding-right: 24px !important; }
  .desk-pb {
    padding-bottom: 24px !important; }
  .desk-pl {
    padding-left: 24px !important; }
  .desk-ph {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .desk-pv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; } }

/**
     * Add small paddings.
     */
@media screen and (max-width: 44.9375em) {
  .palm-p- {
    padding: 12px !important; }
  .palm-pt- {
    padding-top: 12px !important; }
  .palm-pr- {
    padding-right: 12px !important; }
  .palm-pb- {
    padding-bottom: 12px !important; }
  .palm-pl- {
    padding-left: 12px !important; }
  .palm-ph- {
    padding-right: 12px !important;
    padding-left: 12px !important; }
  .palm-pv- {
    padding-top: 12px !important;
    padding-bottom: 12px !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .lap-p- {
    padding: 12px !important; }
  .lap-pt- {
    padding-top: 12px !important; }
  .lap-pr- {
    padding-right: 12px !important; }
  .lap-pb- {
    padding-bottom: 12px !important; }
  .lap-pl- {
    padding-left: 12px !important; }
  .lap-ph- {
    padding-right: 12px !important;
    padding-left: 12px !important; }
  .lap-pv- {
    padding-top: 12px !important;
    padding-bottom: 12px !important; } }

@media screen and (min-width: 45em) {
  .lap-and-up-p- {
    padding: 12px !important; }
  .lap-and-up-pt- {
    padding-top: 12px !important; }
  .lap-and-up-pr- {
    padding-right: 12px !important; }
  .lap-and-up-pb- {
    padding-bottom: 12px !important; }
  .lap-and-up-pl- {
    padding-left: 12px !important; }
  .lap-and-up-ph- {
    padding-right: 12px !important;
    padding-left: 12px !important; }
  .lap-and-up-pv- {
    padding-top: 12px !important;
    padding-bottom: 12px !important; } }

@media screen and (max-width: 63.9375em) {
  .portable-p- {
    padding: 12px !important; }
  .portable-pt- {
    padding-top: 12px !important; }
  .portable-pr- {
    padding-right: 12px !important; }
  .portable-pb- {
    padding-bottom: 12px !important; }
  .portable-pl- {
    padding-left: 12px !important; }
  .portable-ph- {
    padding-right: 12px !important;
    padding-left: 12px !important; }
  .portable-pv- {
    padding-top: 12px !important;
    padding-bottom: 12px !important; } }

@media screen and (min-width: 64em) {
  .desk-p- {
    padding: 12px !important; }
  .desk-pt- {
    padding-top: 12px !important; }
  .desk-pr- {
    padding-right: 12px !important; }
  .desk-pb- {
    padding-bottom: 12px !important; }
  .desk-pl- {
    padding-left: 12px !important; }
  .desk-ph- {
    padding-right: 12px !important;
    padding-left: 12px !important; }
  .desk-pv- {
    padding-top: 12px !important;
    padding-bottom: 12px !important; } }

/*------------------------------------*    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`). Use these in your markup:
 *
 * <div class="u-7/12">
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important; }

.u-1\/3 {
  width: 33.3333333333% !important; }

.u-2\/3 {
  width: 66.6666666667% !important; }

.u-1\/4 {
  width: 25% !important; }

.u-2\/4 {
  width: 50% !important; }

.u-3\/4 {
  width: 75% !important; }

.u-1\/5 {
  width: 20% !important; }

.u-2\/5 {
  width: 40% !important; }

.u-3\/5 {
  width: 60% !important; }

.u-4\/5 {
  width: 80% !important; }

.u-1\/6 {
  width: 16.6666666667% !important; }

.u-2\/6 {
  width: 33.3333333333% !important; }

.u-3\/6 {
  width: 50% !important; }

.u-4\/6 {
  width: 66.6666666667% !important; }

.u-5\/6 {
  width: 83.3333333333% !important; }

/*------------------------------------*    #WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
 * Responsive width classes based on your responsive settings.
 */
@media screen and (max-width: 44.9375em) {
  .u-1\/1-palm {
    width: 100% !important; }
  .u-1\/2-palm {
    width: 50% !important; }
  .u-1\/3-palm {
    width: 33.3333333333% !important; }
  .u-2\/3-palm {
    width: 66.6666666667% !important; }
  .u-1\/4-palm {
    width: 25% !important; }
  .u-2\/4-palm {
    width: 50% !important; }
  .u-3\/4-palm {
    width: 75% !important; }
  .u-1\/5-palm {
    width: 20% !important; }
  .u-2\/5-palm {
    width: 40% !important; }
  .u-3\/5-palm {
    width: 60% !important; }
  .u-4\/5-palm {
    width: 80% !important; }
  .u-1\/12-palm {
    width: 8.3333333333% !important; }
  .u-2\/12-palm {
    width: 16.6666666667% !important; }
  .u-3\/12-palm {
    width: 25% !important; }
  .u-4\/12-palm {
    width: 33.3333333333% !important; }
  .u-5\/12-palm {
    width: 41.6666666667% !important; }
  .u-6\/12-palm {
    width: 50% !important; }
  .u-7\/12-palm {
    width: 58.3333333333% !important; }
  .u-8\/12-palm {
    width: 66.6666666667% !important; }
  .u-9\/12-palm {
    width: 75% !important; }
  .u-10\/12-palm {
    width: 83.3333333333% !important; }
  .u-11\/12-palm {
    width: 91.6666666667% !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .u-1\/1-lap {
    width: 100% !important; }
  .u-1\/2-lap {
    width: 50% !important; }
  .u-1\/3-lap {
    width: 33.3333333333% !important; }
  .u-2\/3-lap {
    width: 66.6666666667% !important; }
  .u-1\/4-lap {
    width: 25% !important; }
  .u-2\/4-lap {
    width: 50% !important; }
  .u-3\/4-lap {
    width: 75% !important; }
  .u-1\/5-lap {
    width: 20% !important; }
  .u-2\/5-lap {
    width: 40% !important; }
  .u-3\/5-lap {
    width: 60% !important; }
  .u-4\/5-lap {
    width: 80% !important; }
  .u-1\/12-lap {
    width: 8.3333333333% !important; }
  .u-2\/12-lap {
    width: 16.6666666667% !important; }
  .u-3\/12-lap {
    width: 25% !important; }
  .u-4\/12-lap {
    width: 33.3333333333% !important; }
  .u-5\/12-lap {
    width: 41.6666666667% !important; }
  .u-6\/12-lap {
    width: 50% !important; }
  .u-7\/12-lap {
    width: 58.3333333333% !important; }
  .u-8\/12-lap {
    width: 66.6666666667% !important; }
  .u-9\/12-lap {
    width: 75% !important; }
  .u-10\/12-lap {
    width: 83.3333333333% !important; }
  .u-11\/12-lap {
    width: 91.6666666667% !important; } }

@media screen and (min-width: 45em) {
  .u-1\/1-lap-and-up {
    width: 100% !important; }
  .u-1\/2-lap-and-up {
    width: 50% !important; }
  .u-1\/3-lap-and-up {
    width: 33.3333333333% !important; }
  .u-2\/3-lap-and-up {
    width: 66.6666666667% !important; }
  .u-1\/4-lap-and-up {
    width: 25% !important; }
  .u-2\/4-lap-and-up {
    width: 50% !important; }
  .u-3\/4-lap-and-up {
    width: 75% !important; }
  .u-1\/5-lap-and-up {
    width: 20% !important; }
  .u-2\/5-lap-and-up {
    width: 40% !important; }
  .u-3\/5-lap-and-up {
    width: 60% !important; }
  .u-4\/5-lap-and-up {
    width: 80% !important; }
  .u-1\/12-lap-and-up {
    width: 8.3333333333% !important; }
  .u-2\/12-lap-and-up {
    width: 16.6666666667% !important; }
  .u-3\/12-lap-and-up {
    width: 25% !important; }
  .u-4\/12-lap-and-up {
    width: 33.3333333333% !important; }
  .u-5\/12-lap-and-up {
    width: 41.6666666667% !important; }
  .u-6\/12-lap-and-up {
    width: 50% !important; }
  .u-7\/12-lap-and-up {
    width: 58.3333333333% !important; }
  .u-8\/12-lap-and-up {
    width: 66.6666666667% !important; }
  .u-9\/12-lap-and-up {
    width: 75% !important; }
  .u-10\/12-lap-and-up {
    width: 83.3333333333% !important; }
  .u-11\/12-lap-and-up {
    width: 91.6666666667% !important; } }

@media screen and (max-width: 63.9375em) {
  .u-1\/1-portable {
    width: 100% !important; }
  .u-1\/2-portable {
    width: 50% !important; }
  .u-1\/3-portable {
    width: 33.3333333333% !important; }
  .u-2\/3-portable {
    width: 66.6666666667% !important; }
  .u-1\/4-portable {
    width: 25% !important; }
  .u-2\/4-portable {
    width: 50% !important; }
  .u-3\/4-portable {
    width: 75% !important; }
  .u-1\/5-portable {
    width: 20% !important; }
  .u-2\/5-portable {
    width: 40% !important; }
  .u-3\/5-portable {
    width: 60% !important; }
  .u-4\/5-portable {
    width: 80% !important; }
  .u-1\/12-portable {
    width: 8.3333333333% !important; }
  .u-2\/12-portable {
    width: 16.6666666667% !important; }
  .u-3\/12-portable {
    width: 25% !important; }
  .u-4\/12-portable {
    width: 33.3333333333% !important; }
  .u-5\/12-portable {
    width: 41.6666666667% !important; }
  .u-6\/12-portable {
    width: 50% !important; }
  .u-7\/12-portable {
    width: 58.3333333333% !important; }
  .u-8\/12-portable {
    width: 66.6666666667% !important; }
  .u-9\/12-portable {
    width: 75% !important; }
  .u-10\/12-portable {
    width: 83.3333333333% !important; }
  .u-11\/12-portable {
    width: 91.6666666667% !important; } }

@media screen and (min-width: 64em) {
  .u-1\/1-desk {
    width: 100% !important; }
  .u-1\/2-desk {
    width: 50% !important; }
  .u-1\/3-desk {
    width: 33.3333333333% !important; }
  .u-2\/3-desk {
    width: 66.6666666667% !important; }
  .u-1\/4-desk {
    width: 25% !important; }
  .u-2\/4-desk {
    width: 50% !important; }
  .u-3\/4-desk {
    width: 75% !important; }
  .u-1\/5-desk {
    width: 20% !important; }
  .u-2\/5-desk {
    width: 40% !important; }
  .u-3\/5-desk {
    width: 60% !important; }
  .u-4\/5-desk {
    width: 80% !important; }
  .u-1\/12-desk {
    width: 8.3333333333% !important; }
  .u-2\/12-desk {
    width: 16.6666666667% !important; }
  .u-3\/12-desk {
    width: 25% !important; }
  .u-4\/12-desk {
    width: 33.3333333333% !important; }
  .u-5\/12-desk {
    width: 41.6666666667% !important; }
  .u-6\/12-desk {
    width: 50% !important; }
  .u-7\/12-desk {
    width: 58.3333333333% !important; }
  .u-8\/12-desk {
    width: 66.6666666667% !important; }
  .u-9\/12-desk {
    width: 75% !important; }
  .u-10\/12-desk {
    width: 83.3333333333% !important; }
  .u-11\/12-desk {
    width: 91.6666666667% !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1\/1-retina {
    width: 100% !important; }
  .u-1\/2-retina {
    width: 50% !important; }
  .u-1\/3-retina {
    width: 33.3333333333% !important; }
  .u-2\/3-retina {
    width: 66.6666666667% !important; }
  .u-1\/4-retina {
    width: 25% !important; }
  .u-2\/4-retina {
    width: 50% !important; }
  .u-3\/4-retina {
    width: 75% !important; }
  .u-1\/5-retina {
    width: 20% !important; }
  .u-2\/5-retina {
    width: 40% !important; }
  .u-3\/5-retina {
    width: 60% !important; }
  .u-4\/5-retina {
    width: 80% !important; }
  .u-1\/12-retina {
    width: 8.3333333333% !important; }
  .u-2\/12-retina {
    width: 16.6666666667% !important; }
  .u-3\/12-retina {
    width: 25% !important; }
  .u-4\/12-retina {
    width: 33.3333333333% !important; }
  .u-5\/12-retina {
    width: 41.6666666667% !important; }
  .u-6\/12-retina {
    width: 50% !important; }
  .u-7\/12-retina {
    width: 58.3333333333% !important; }
  .u-8\/12-retina {
    width: 66.6666666667% !important; }
  .u-9\/12-retina {
    width: 75% !important; }
  .u-10\/12-retina {
    width: 83.3333333333% !important; }
  .u-11\/12-retina {
    width: 91.6666666667% !important; } }

/*------------------------------------*    #PRINT
\*------------------------------------*/
/**
 * Very crude, reset-like styles taken from the HTML5 Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/3c3c5e64604209a4d63e1e4c48dd245d45fadfd9/css/main.css#L200-L234
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /**
     * Don’t show links that are fragment identifiers, or use the `javascript:`
     * pseudo protocol.
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("/img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: slick-font-url("/fonts/slick.eot");
  src: slick-font-url("/fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("/fonts/slick.woff") format("woff"), slick-font-url("/fonts/slick.ttf") format("truetype"), slick-font-url("/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 39%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover, .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before, .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slider-full {
  cursor: move; }
  .slider-full .slick-prev,
  .slider-full .slick-next {
    height: 40px;
    width: 40px;
    opacity: 0;
    background-size: 40px 40px;
    transition: .3s ease-in-out; }
  .slider-full:hover .slick-prev {
    opacity: .85;
    left: 12px; }
  .slider-full:hover .slick-next {
    opacity: .85;
    right: 12px; }
  .slider-full .caption {
    height: 40px; }

.slider-thumb {
  cursor: pointer; }
  .slider-thumb .slick-slide {
    margin-right: 10px; }

.slider-full .slick-prev {
  left: 24px;
  background: url(/img/icons/arrow-previous.svg) no-repeat center center; }

.slider-full .slick-next {
  right: 24px;
  background: url(/img/icons/arrow-next.svg) no-repeat center center; }

.slider-full img {
  height: auto;
  width: 100%;
  margin-bottom: 12px; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

#idTag {
  background: url(../img/image.png) no-repeat center center;
  background-size: 180px 58px;
  width: 180px;
  height: 58px;
  z-index: 20; }
  @media screen and (min-width: 45em) {
    #idTag {
      background-size: 270px 88px;
      width: 270px;
      height: 88px;
      right: auto;
      margin: 0; } }
  @media screen and (min-width: 64em) {
    #idTag {
      background-size: 313px 102px;
      width: 305px;
      height: 102px; } }

/*doc
---
title: parallax
category: layout components - layout components
---

```html_example

    <section data-type="background" data-speed="1" class="parallax  image1">
        <h1>I am absolute positioned</h1>
    </section>

    <section data-type="background" data-speed="10" class="parallax  image2">
        <h1>Simple Parallax Scroll</h1>
    </section>

```

```js_example

    $(document).ready(function(){
        $window = $(window);

        $('section[data-type="background"]').each(function(){
            var $bgobj = $(this); // assigning the object

            $(window).scroll(function() {

                // Scroll the background at var speed
                // the yPos is a negative value because we're scrolling it UP!
                var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                // Put together our final background position
                var coords = '50% '+ yPos + 'px';

                // Move the background
                $bgobj.css({ backgroundPosition: coords });

            }); // window scroll Ends

        });

    });

```

Create block grids width equal heights. Compatible from

*/
.parallax {
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }

.image1 {
  background: url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/images/only_background_2.jpg) 50% 0 no-repeat; }

.image2 {
  background: url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/images/only_background_2.jpg) 50% 0 no-repeat; }

@media screen and (max-width: 44.9375em) {
  .mobile-nav-offset {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background-color: #fff;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    transform: translateX(-105%);
    z-index: 100;
    transition: .2s ease-in-out;
    transition-delay: .2s; }
    .nav-active .mobile-nav-offset {
      transform: translateX(0); } }

#toggle-menu {
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid green; }

.page {
  transition: .3s ease-in-out; }
  .nav-active .page {
    filter: blur(10px); }

.nav-active #toggle-menu {
  border: 1px solid red; }

@media screen and (min-width: 45em) {
  #toggle-menu {
    display: none; } }

.nav-active body {
  overflow: hidden; }

/*doc
---
title: Grid
category: layout components - layout components
---

```html_example
    
    <div class="layout  mb">
        <div class="layout__item  u-1/6  ">
            <div class="box">1</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">2</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">3</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">4</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">5</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">6</div>
        </div>
    </div>
 
    <div class="layout  mb">
        <div class="layout__item  u-1/4">
            <div class="box">1</div>
        </div><div class="layout__item  u-1/4">
            <div class="box">2</div>
        </div><div class="layout__item  u-1/4">
            <div class="box">3</div>
        </div><div class="layout__item  u-1/4">
           <div class="box">4</div>
       </div>
    </div>
 
    <div class="layout  mb">
        <div class="layout__item  u-1/6">
            <div class="box">1</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">2</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">3</div>
        </div><div class="layout__item  u-1/6">
            <div class="box">4</div>
        </div>
    </div>
 
    <div class="layout  mb">
        <div class="layout__item  u-1/3">
            <div class="box">1</div>
        </div><div class="layout__item  u-1/3">
            <div class="box">2</div>
        </div><div class="layout__item  u-1/3">
            <div class="box">3</div>
        </div>
    </div>

   <div class="layout  mb">
        <div class="layout__item  u-1/2">
            <div class="box">1</div>
        </div><div class="layout__item  u-1/2">
            <div class="box">2</div>
        </div>
    </div>

```

```js_example


```

Create block grids width equal heights. Compatible from

*/
/*doc
---
title: tabs
category: gui elements

---

Eenvoudig component met tabs
@import "components/tabs";

```html_example

    <ul class="tabs-menu">
        <li class="current"><a href="#tab1">Nieuwbouw</a></li>
        <li><a href="#tab2">Herbouw</a></li>
        <li><a href="#tab3">Renovatie</a></li>
    </ul>

    <div class="tabs">

        <div id="tab1" class="tab-content">
            content tab 1
        </div>

        <div id="tab2" class="tab-content">
            content tab 2
        </div>

        <div id="tab3" class="tab-content">
            content tab 3
        </div>

    </div>

```

```js_example

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });

```

*/
.tabs-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .tabs-menu > li {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    margin: 0 8px;
    border: 1px solid #fff;
    top: 4px; }
    .tabs-menu > li.current {
      border: 1px solid lightgrey;
      background: lightgrey; }
      .tabs-menu > li.current a {
        color: black; }
    .tabs-menu > li:hover {
      border: 1px solid lightgrey; }
  .tabs-menu > li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    padding: 12px 24px;
    display: block; }

.tab-content {
  padding: 24px;
  background: lightgrey;
  display: none; }
  .tab-content:first-child {
    display: block; }

/*doc
---
title: Pillars
category: layout components - layout components

---

```html_example

    <div class="pillars">

        <div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div>

    </div>

```

    Create block grids width equal heights. Compatible from

*/
.pillars {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 0 -12px; }
  .no-flexbox .pillars {
    display: block; }

.pillars__item {
  margin: 0 12px;
  width: 100%; }
  @media screen and (min-width: 45em) {
    .pillars__item {
      width: calc(50% - 24px); } }
  @media screen and (min-width: 64em) {
    .pillars__item {
      width: calc(33.3333% - 24px); } }
  .no-flexbox .pillars__item {
    display: block;
    float: left; }

@media only screen and (max-width: 665px) {
  .hide-on-mobile {
    display: none; } }

@media only screen and (min-width: 666px) {
  .only-mobile {
    display: none !important; } }

.only-tablet-inline-block {
  display: none; }
  @media only screen and (min-width: 666px) and (max-width: 1023px) {
    .only-tablet-inline-block {
      display: inline-block; } }

@media only screen and (min-width: 994px) {
  .hide-on-desktop {
    display: none !important; } }

@media only screen and (min-width: 1160px) {
  .hide-on-desktoplarge {
    display: none !important; } }

@media only screen and (max-width: 993px) {
  .only-desktop {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .hide-below-desktop {
    display: none; } }

.only-desktoplarge {
  display: none; }
  @media only screen and (min-width: 1160px) {
    .only-desktoplarge {
      display: inline-block; } }

.center-block {
  margin: 0 auto; }

@media only screen and (min-width: 666px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none; } }

@media only screen and (max-width: 665px) {
  .hide-on-desktop {
    display: none; } }

/* absolute positioning */
.abpos-lt {
  position: absolute !important;
  left: 0;
  top: 0; }

.abpos-rt {
  position: absolute !important;
  right: 0;
  top: 0; }

.abpos-lb {
  position: absolute !important;
  left: 0;
  bottom: 0; }

.abpos-rb {
  position: absolute !important;
  right: 0;
  bottom: 0; }

.center-div {
  margin: 0 auto;
  position: relative;
  max-width: 980px; }

.textlink {
  color: #535861; }
  .textlink:hover {
    color: #222; }

.fl {
  float: left; }

.fr {
  float: right; }

.center-img {
  padding: 10px !important;
  /* reset initial padding */ }
  .center-img > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0; }

.blocklink {
  display: block;
  color: #535861; }
  .blocklink:hover {
    color: #222; }

/* positioneer inline images absolute */
.img-abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden; }
  .img-abs img {
    z-index: -1; }

.inline-block {
  display: inline-block; }

/* plaats element "on top" binnen een relative of absolute context */
.on-top {
  position: relative;
  z-index: 1; }

.styleguide-devider {
  margin: 24px 0;
  border-top: 1px solid red; }

.bg-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover; }

body {
  background: green; }

/*# sourceMappingURL=app-unprefixed.css.map */