.layout__item-grid {
    border-top: 1px solid #C5C6C8;
}

.layout__item-grid:nth-child(1) {
    border-top: 0 !important;
}

@include media-query(lap-and-up) {

    .layout__item-grid:nth-child(2) {
        border-top: 0 !important;
    }

    .layout__item-grid:nth-child(2n+1) {
        border-right: 1px solid #C5C6C8;
    }

}

@include media-query(desk) {

    .layout__item-grid:nth-child(2n+1) {
        border-right: none;
    }

    .layout__item-grid:nth-child(3) {
        border-top: 0 !important;
    }

    .layout__item-grid:nth-child(3n+1) {
        border-right: 1px solid #C5C6C8;
    }

    .layout__item-grid:nth-child(3n+2) {
        border-right: 1px solid #C5C6C8;
    }

}
