/*doc
---
title: Pillars
category: layout components - layout components

---

```html_example

    <div class="pillars">

        <div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div><div class="pillars__item  pane">

            <h3 class="pane__title">Mini hockey</h3>
            <div class="pane__age">6 t/m 10 jaar</div>
            <div class="pane__body  hide-on-mobile"><p>Wil jij in de schoolvakantie hockeyen en beter worden? Dan kan jij bij Kidspower op verschillende locaties terecht!</p></div>
            <a href="#" class="btn  btn--next  icon-next"><span class="hide-on-mobile">info / aanmelden</span></a>

        </div>

    </div>

```

    Create block grids width equal heights. Compatible from

*/


.pillars {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin: 0 ( 0  - $inuit-base-spacing-unit/2);

    .no-flexbox & {
        display: block;
    }
}

.pillars__item {
    margin: 0 $inuit-base-spacing-unit/2;
    width: 100%;

    @include media-query(lap-and-up) {
        width: calc(50% - #{$inuit-base-spacing-unit});
    }

    @include media-query(desk) {
        width: calc(33.3333% - #{$inuit-base-spacing-unit});
    }

    .no-flexbox & {
        display: block;
        float: left;
    }

}