.btn {
    padding: 8px 24px;
    background: $darkgrey;

    // anchor button

    &--anchor {
        border: 1px solid $white;
        text-align: center;
        background: transparent;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(/images/icons/min/icon-arrow-down.svg);
            position: absolute;
            left: 10px;
            top: -24px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover,
        .touch & {

            span {
                transform: translate(6px,0);
            }

            &:before {
                top: 10px;
            }
        }
    }

    &--next {
        border: 1px solid $darkgrey;
        text-align: center;
        background: $ib_darkgrey;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(/images/icons/min/icon-arrow-down.svg);
            transform: rotate(-90deg) translate(0,-24px);
            opacity: 0;
            position: absolute;
            left: 10px;
            top: 12px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover {

            span {
                transform: translate(10px,0);
            }

            &:before {
                transform: rotate(-90deg) translate(0,0);
                opacity: 1;
            }
        }
    }

    &--next-diap {
        border: 1px solid transparent;
        text-align: center;
        background: transparent;
        overflow: hidden;
        position: relative;
        transition: all .2s ease-out;
        flex-grow: initial;
        flex-basis: 120px;
        border-radius: 2px;

        &:before {
            content: url(/images/icons/min/icon-arrow-down.svg);
            transform: rotate(-90deg) translate(0,-24px);
            opacity: 0;
            position: absolute;
            left: 10px;
            top: 12px;
            width: 18px;
            height: 18px;
            text-indent: 0;
            transition: all .2s ease-out;
        }

        span {
            display: block;
            position: relative;
            transition: all .2s ease-out;
        }

        &:hover,
        &.active {

            border: 1px solid rgba(254,254,254,.4);

            span {
                transform: translate(10px,0);
            }

            &:before {
                transform: rotate(-90deg) translate(0,0);
                opacity: 1;
            }
        }
    }

}