/*doc
---
title: navigation with center logo
category: navigation - navigation

---

```html_example

    <header class="box">

        <div class="center-div">

            <h1 id="idTag"><a href="#"><span class="hide">Naam organisatie - payoff</span></a></h1>

            <ul class="pack">
                <li class="pack__item"><a href="#">label</a></li>
                <li class="pack__item"><a href="#">label</a></li>
                <li class="pack__item"><a href="#">label</a></li>
                <li class="pack__item"><a href="#">label</a></li>
                <li class="pack__item"><a href="#">label</a></li>
                <li class="pack__item"><a href="#">label</a></li>
            </ul>

        </div>

    </header>

```

*/


/*------------------------------------*\
    #navigation with center logo
\*------------------------------------*/


$pk-centerlogo-position: 3 !default;
$pk-separator-shadow:       false !default;

$pk-menu-center-logo: true !default;


@if ($pk-menu-center-logo == true) {




}