//  <header class="box">
//      <div class="center-div">
//          <a href="#" id="toggle-menu"><span></span></a>
//          <h1 id="idTag"><a href="#"><span class="hide">Naam organisatie - payoff</span></a></h1>
//          <div class="mobile-nav-offset">
//              <ul class="list-inline  main-nav">
//                  <li><a href="#">label</a></li>
//                  <li><a href="#">label</a></li>
//                  <li><a href="#">label</a></li>
//                  <li><a href="#">label</a></li>
//                  <li><a href="#">label</a></li>
//                  <li><a href="#">label</a></li>
//              </ul>
//          </div>
//      </div>
//  </header>



@include media-query(palm) {
    .mobile-nav-offset {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 90%;
        background-color: #fff;
        box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
        transform: translateX(-105%);
        z-index: 100;
        transition: .2s ease-in-out;
        transition-delay: .2s;

        .nav-active & {
            transform: translateX(0);
        }
    }
}

#toggle-menu {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
}

.page {
    transition: .3s ease-in-out;
    .nav-active & {
        filter: blur(10px);
    }
}

#toggle-menu {
    .nav-active & {
        border: 1px solid red;
    }
    @include media-query(lap-and-up) {
        display: none;
    }
}

body {
    .nav-active & {
        overflow: hidden;
    }
}
